@import "tailwindcss";

@font-face {
    font-family: 'IntegralCF';
    src: url('/Fonts/Integralcf/bold.woff2') format('woff2'),
         url('/Fonts/Integralcf/bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'IntegralCF';
    src: url('/Fonts/Integralcf-regular.woff2') format('woff2'),
         url('/Fonts/Integralcf-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('/Fonts/OpenSans/bold.woff2') format('woff2'),
         url('/Fonts/OpenSans/bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('/Fonts/OpenSans/regular.woff2') format('woff2'),
         url('/Fonts/OpenSans/bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply Fonts */
  body {
    font-family: 'Open Sans', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'IntegralCF', sans-serif;
  }